            <header id="header">
                <div class="header">
                    <section id="topArea">
                        <div class="searchWrap">
                            <p class="category"><a href="#none" class="fold">카테고리</a></p>
                            <h1 module="Layout_LogoTop"><a href="/">{$mobile_title}</a></h1>
                            <p class="search"><button type="button">검색</button></p>                                                
                            <p module="Layout_orderBasketcount">
                                <a href="/order/basket.html" class="btnBasket">장바구니<span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
                            </p>
                        </div>
                    </section>
                    <!--@import(/layout/basic/search.html)-->
                </div>
            </header>