<div class="qm-wrap mobile-qm">
    <button type="button" class="qm-top-btn" onclick="window.scrollTo({top:0,behavior:'smooth'})">
        <span class="qm-top-arrow"></span>
        <span class="qm-top-txt">TOP</span>
    </button>
    <a class="qm-item" href="https://blog.naver.com/dclee2346" target="_blank" rel="noopener">
        <img src="https://cdn.imweb.me/upload/S20260413cc62e8028f7a9/1917f386fdcaf.png" alt="블로그 바로가기" />
    </a>
    <a class="qm-item" href="https://www.tvzone.io/" target="_blank" rel="noopener">
        <img src="//ecimg.cafe24img.com/pg3042b49219970023/tvzone0479/web/upload/img/qm/ban_tvzonelogo.png" alt="공식사이트 바로가기" />
    </a>
</div>
