<div class="topArea__statelogon RW">
    <!--@css(/css/module/layout/statelogoff.css)-->
    <div module="Layout_statelogoff">
        <a href="/member/agreement.html">회원가입</a>
        <a href="/member/login.html">로그인</a>
        <a href="/myshop/order/list.html">주문조회</a>
        <a href="/order/basket.html">장바구니 <span class="count {$basket_count_display|display}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
        <div class="top-utility-dropdown">
            <a href="#none" class="dropdown-toggle">고객센터</a>
            <ul class="dropdown-menu">
                <li><a href="/board/free/list.html?board_no=1">공지사항</a></li>
                <li><a href="/board/product/list.html?board_no=6">자주묻는질문</a></li>
                <li><a href="/board/gallery/list.html?board_no=7">자료실</a></li>
                <li><a href="/board/consult/list.html?board_no=9">1:1문의</a></li>
            </ul>
        </div>
    </div>
    <div module="Layout_stateLogon">
        <a href="{$action_logout}">로그아웃</a>
        <a href="/myshop/order/list.html">주문조회</a>
        <a href="/order/basket.html">장바구니 <span class="count {$basket_count_display|display}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
        <div class="top-utility-dropdown">
            <a href="#none" class="dropdown-toggle">고객센터</a>
            <ul class="dropdown-menu">
                <li><a href="/board/free/list.html?board_no=1">공지사항</a></li>
                <li><a href="/board/product/list.html?board_no=6">자주묻는질문</a></li>
                <li><a href="/board/gallery/list.html?board_no=7">자료실</a></li>
                <li><a href="/board/consult/list.html?board_no=9">1:1문의</a></li>
            </ul>
        </div>
    </div>
</div>