<div class="sub-category submenu-wrapper" id="submenu-module" style="width: 100%; display: none; z-index: 10000;">
  <div class="submenu-inner" style="height: 300px; overflow: hidden; display: flex; padding: 0 20px; box-sizing: border-box;">
    <!-- 왼쪽: 서브 카테고리 -->
    <div class="submenu-left" id="submenu-left-content">
      <ul></ul>
    </div>

    <div class="submenu-right" style="flex: 1; padding: 0 0 0 20px;">
      <div class="submenu-banner" id="submenu-banner-content" style="width: 100%; height: 100%; position: relative;">
        <!-- JS에서 Swiper 슬라이드가 렌더링될 영역 -->
      </div>
    </div>
  </div>
</div>