<div class="sub-category submenu-wrapper" id="submenu-module" style="width: 100%; display: none; z-index: 10000;">
  <div class="submenu-inner">
    <!-- 왼쪽: 서브 카테고리 -->
    <div class="submenu-left" id="submenu-left-content">
      <ul></ul>
    </div>

    <!-- 오른쪽: 서브메뉴별 상품 슬라이드 -->
    <div class="submenu-right" style="flex: 1;">
      <div class="submenu-banner" id="submenu-banner-content" style="width: 100%; max-width: 650px; position: relative;">
        <!-- JS에서 Swiper 슬라이드가 렌더링될 영역 -->
      </div>
    </div>
  </div>
</div>