/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
  .xans-layout-logotop {
    text-align: center;
  }

  .xans-layout-logotop a {
    font-size: 27px;
    line-height: 1;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
  }

  .xans-layout-logotop img {
    width: 150px;
    height: 30px;
    object-fit: contain;
  }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
  .xans-layout-logotop {
    width: 800px;
    margin: 0 auto;
    padding: 53px 0 31px;
    text-align: center;
  }

  .xans-layout-logotop a {
    font-size: 35px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
  }

  .xans-layout-logotop img {
    width: 252px;
    height: 100%;
    object-fit: contain;
  }
}