/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
  .xans-layout-logotop {
    text-align: center;
  }

  .xans-layout-logotop a {
    font-size: 27px;
    line-height: 1;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
  }

  .xans-layout-logotop img {
    width: 205px;
    height: 70px;
    object-fit: contain;
  }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
  .xans-layout-logotop {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .xans-layout-logotop a {
    font-size: 35px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
  }

  .xans-layout-logotop img {
    width: 260px;
    height: 80px;
    object-fit: contain;
    display: block;
  }
}